body {
    background-color:#73318b;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

img {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  
a:active, a:visited {
    color: plum;
    text-decoration: underline;
}