body {
    background-color:#73318b;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

.capture {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}