<!DOCTYPE html>
<html>
<head>
    <title> Images: {{barcode}}</title>
    <link href="{{ url_for('static', path='stylesBarcode.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='barcodeScript.js') }}"></script>
</head>
<body>
    <div style=
    "display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;">
        <div style="display: inline-block; vertical-align: center; align-content: center; padding: 20px;">
            <a href="/"><img src="{{ url_for('static', path='/resources/Imagr-white-icon.png') }}" alt="imagr-logo" style="width:100%"></a>
        </div>
        <div style="display: inline-block; vertical-align: top;">
            <h1>Barcode: {{barcode}}</h1>
        </div>
        <div class="sort" style="padding-left: 20px;">
            <button onclick="showTypes()" class="sort-button">Sort By {{sortType}}</button>
            <div id="sortType" class="sort-type">
                <a href="/barcodes/{{barcode}}?sort_type=filenames">Filenames</a><br/>
                <a href="/barcodes/{{barcode}}?sort_type=sizes">Sizes</a>
            </div>
        </div>
    
    
    </div>
    <div class="grid-container">
        {% for (imgPath, name, size) in imageDetails %}
            <div class="grid-item">
                <figure>
                    <img class="capture" src="{{ url_for('static', path=imgPath) }}" alt="{{imgPath}}" style="width:30%"><br />
                    <figcaption id="nameCap">Filename: {{name}}</figcaption> 
                    <figcaption id="sizeCap">Size: {{size}}kB</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
    <a href="javascript:history.back()" style="color: white;">Go to Index<br /></a>
</body>
</html>
