<!DOCTYPE html>
<html>
<head>
    <title> Images: {{barcode}}</title>
    <link href="{{ url_for('static', path='stylesBarcode.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='barcodeScript.js') }}"></script>
</head>
<body>
    <div style=
    "display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;">
        <div style="display: inline-block; vertical-align: center; align-content: center; padding: 20px;">
            <a href="/"><img src="{{ url_for('static', path='/resources/Imagr-white-icon.png') }}" alt="imagr-logo" style="width:100%"></a>
        </div>
        <div style="display: inline-block; vertical-align: top;">
            <h1>Barcode: {{barcode}}</h1>
        </div>
        <div class="sort">
            <button onclick="showTypes()" id="sortButton" class="sort-button">Sort By</button>
            <div id="sortType" class="sort-type">
                <button onclick="sortSelectOption(1)">option 1</button>
                <button onclick="sortSelectOption(2)">option 2</button>
                <button onclick="sortSelectOption(3)">option 3</button>
            </div>
        </div>
    </div>
    <div class="grid-container">
        {% for (imgPath, name, size) in imageDetails %}
            <div class="grid-item">
                <figure>
                    <img class="capture" src="{{ url_for('static', path=imgPath) }}" alt="{{imgPath}}" style="width:30%"><br />
                    <figcaption>Filename: {{name}}</figcaption> 
                    <figcaption>Size: {{size}}kB</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</body>
</html>
