<!DOCTYPE html>
<html>
<head>
    <title> Images: {{barcode}}</title>
    <link href="{{ url_for('static', path='stylesBarcode.css') }}" rel="stylesheet">
    <style>
        h1 {
            text-align: left;
            padding-top: 30px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div><a href="/"><img src="{{ url_for('static', path='/resources/Imagr-white-icon.png') }}" alt="imagr-logo" style="width:5%"  align="left"></a></div>
    <h1>Barcode: {{barcode}}</h1>
    <div class="grid-container">
        {% for (imgPath, name, size) in imageDetails %}
            <div class="grid-item">
                <figure>
                    <img class="capture" src="{{ url_for('static', path=imgPath) }}" alt="{{imgPath}}" style="width:30%"><br />
                    <figcaption>Filename: {{name}}</figcaption> 
                    <figcaption>Size: {{size}}kB</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
</body>
</html>
