<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="{{ url_for('static', path='stylesIndex.css') }}" rel="stylesheet">

<style>
    h1 {
        text-align: left;
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>
</head>
<body>
    <div><a href="/"><img src="{{ url_for('static', path='/resources/Imagr-white-icon.png') }}" alt="imagr-logo" style="width:5%"  align="left"></a></div>
    <h1>Index of barcodes</h1>
    <div class="grid-container">
            {% for element in barcodeList %}                    
                <div class="grid-item">   
                    <a href="/barcodes/{{element}}">{{element}}<br /></a>
                </div>
            {% endfor %}
    </div>
</body>
</html>