<!DOCTYPE html>
<html>
<head>
    <title>Barcode Images</title>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
</head>
<body>
    <p>Index of barcodes: </p>
    <div class="grid-container">
            {% for element in barcodeList %}                    
                <div class="grid-item">   
                    <a href="/barcodes/{{element}}">{{element}}<br /></a>
                </div>
            {% endfor %}
    </div>
</body>
</html>