<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="{{ url_for('static', path='stylesIndex.css') }}" rel="stylesheet">

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h1 {
        text-align: left;
        padding-top: 50px;
        padding-bottom: 50px;
    }
</style>
</head>
<body>
    <div><a href="/"><img src="{{ url_for('static', path='/resources/imagr-logo-4.png') }}" alt="imagr-logo" style="width:10%"  align="left"></a></div>
    <h1>Index of barcodes</h1>
    <div class="grid-container">
            {% for element in barcodeList %}                    
                <div class="grid-item">   
                    <a href="/barcodes/{{element}}">{{element}}<br /></a>
                </div>
            {% endfor %}
    </div>
</body>
</html>